@import url('http://fonts.cdnfonts.com/css/callie-chalk-font');

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center ;
  background-color: rgb(76, 97, 126);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#title {
  font-size: 70px;
  color: aliceblue;
}

#blackboard{
  display: flex;
  flex-direction: column;
  min-width: 250px;
  width: 82vw;
  border-color: black;
  border-width: 10px;
  border-style: groove;
  background-color: rgb(31, 31, 32);
  color: azure;
}

#row1 {
  display: flex;
  flex-direction: row;
}

#row2{
  display: flex;
  flex-direction: row;
}

.result{
  width: 100px;
  height: 100px;
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  font-size: 35px;
  font-family: 'Callie Chalk Font', sans-serif;
}

#rollingArea {
  display: flex;
  flex-wrap: wrap;
  background-color: green; 
  min-width: 250px;
  width: 82vw;
  min-height: 60vh;
  border-color: black;
  border-width: 10px;
  border-style: groove;
   
}

.die {
  width: 100px;
  height: 100px;
  margin: 1rem;
  border-radius: 10px;
  background-color: rgb(224, 35, 21);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-shadow: 
  2px 2px 10px rgb(106, 17, 10),
  4px 4px 10px rgb(106, 17, 10),
  6px 6px 10px rgb(84, 14, 9),
  8px 8px 10px rgb(69, 9, 5),
  10px 10px 10px rgb(49, 5, 2);

}

.dot {
  width: 30%;
  height: 30%;
  border-radius: 50%;
  background-color: rgb(253,244,224);
  
}

.invisible{
  visibility: hidden;
}

#button{
  width: 12rem;
  height: 12rem;
  border-radius: 30%;
  background-color: rgb(224, 35, 21);
  color: azure;
  font-size: 50px;
  top: 85vh;
  left: 72vw;
  position: absolute;
}

#amountArrows{
  height: 200px;
  position: absolute;
  top: 85vh;
  right: 78vw;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#amount {
  position: absolute;
  text-align: center;
  width: 100px;
  font-size: 70px;
  border-style: none;
  background-color: rgba(240, 248, 255, 0);
  color: aliceblue;
  z-index: -1;
}

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-bottom: 60px solid #f00;
}

.arrow-down {
  
  width: 0; 
  height: 0; 
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-top: 60px solid #f00;
}